<!DOCTYPE html>
<html>
<head>
  <title>Guess My Close-up</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1>Guess My Close-up</h1>
</header>


<div id="wrapper">
	<nav>
		<ul>
			<% if user_signed_in? %>
			  <li>
			  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
			  </li>
			<% else %>
			  <li>
			  <%= link_to('Login', new_user_session_path)  %>  
			  </li>
			<% end %>
		    <li>
		      <%= link_to 'Home', :controller => '/quiz', :action => :index %>
		    </li>
		    <li>
		      <%= link_to 'Play', :controller => '/sounds', :action => :play %>
		    </li>
		    <li>
		      <%= link_to 'New', :controller => '/sounds', :action => :new %>
		    </li>
		    <li>
		      <%= link_to 'Stats', :controller => '/quiz', :action => :stats %>
		    </li>
		    <li>
		      <%= link_to 'Leaderboard', :controller => '/quiz', :action => :leaderboard %>
		    </li>
		</ul>
	</nav>
	<div id="content">
	<br />
	<%= yield %>
	</div>
</div>

</body>
</html>
